.container {
  position: relative;

  width: 100%;
  padding-top: 6.5em;

  background-color: #d4d4d4;
}

.inner {
  position: relative;
  display: grid;
  gap: 1em;

  max-width: 1080px;
  margin: 0 auto;

  padding: 3em 1.25em;
}

.storeText h1 {
  font-size: 4rem;
  text-align: center;
  color: #202020;
}

.storeText h4 {
  text-align: center;
  color: var(--orange-primary) !important;
  margin-top: 1em;

  letter-spacing: 0.4em !important;
  text-transform: uppercase;
}

.itemDetailsCard {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.itemDetailsCard .productImage {
  position: relative;

  width: 100%;
  justify-self: center;
  max-width: 18em;
  height: 19em;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 1px #000);
  padding: 1em;
}

.itemDetailsCard .productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1em;
}

.itemDetailsCard .infoHeader h4 {
  color: #202020;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.04em;
}

.productInfo > p {
  font-size: 0.9em;
  color: #242424;
}

.productInfo .infoFooter {
  display: flex;
  text-align: center;
  gap: 0.5em;
}

.infoFooter > p {
  background-color: #a29d9a;
  color: #242424;
  line-height: 1.125;
  border-radius: 5px;
}

.productInfo .infoFooter > * {
  align-items: center;
  flex: 50%;
  box-shadow: 2px 2px 4px #000;
  padding: 0.5em 1em;
}

.productInfo .infoFooter > div {
  align-self: stretch;
  background-color: var(--orange-primary);
  border-radius: 5px;
  color: var(--white-primary);
}

@media (min-width: 45em) {
  .itemDetailsCard {
    grid-template-columns: 1fr 1fr;
  }

  .productImage {
    grid-column: span 1;
  }

  .productInfo {
    max-width: 25em;
  }
}
