.container {
  width: 100%;
  max-width: 30em;
  border-radius: 10px;
  overflow: hidden;

  border: 2px solid var(--orange-primary);
  border-bottom: none;
  box-shadow: 2px 2px 8px #000;
}

.cardContainer {
  width: 100%;
  display: grid;
  position: relative;
}

.cardDate {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 1em;
  background-color: var(--orange-primary);
  z-index: 10;
  padding: 0.25em 0.5em;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cardDate > div:nth-child(1) {
  font-size: 0.75rem;
}

.cardDate > div:nth-child(2) {
  font-size: 1.25rem;
  font-weight: bolder;
}

.cardImage {
  width: 100%;
  height: 8.5em;
  position: relative;
  background-color: var(--bg-black);
}

.cardImage > img {
  object-fit: cover;
  opacity: 0.9;
}

.cardInfo {
  background-color: var(--bg-black);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.cardInfo h4 {
  /* font-size: 0.9rem; */
  text-align: center;
  padding: 0.5em;
  font-weight: lighter;
  color: var(--white-primary);
  line-height: 0.7;
}

.cardInfo > div > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 0.75em;
  height: 0.75em;
  fill: var(--orange-primary);
  stroke: var(--orange-primary);
}

.cardInfo h4::first-letter {
  text-transform: uppercase;
}
