.container {
  position: relative;

  width: 100%;
  min-height: 100%;
  padding-top: 6.5em;

  background-color: #d4d4d4;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  padding: 3em 1em;
}

.inner h1 {
  font-size: 4.5rem;
  text-align: center;
  color: #202020;
  margin-bottom: 3rem;
}


.storeCards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}


  @media (min-width: 55em) {
    .storeCards {
        flex-direction: row;
    }
  }
  