.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30em;

  gap: 0.5em;
  padding: 1em 1.5em;
}

.cardContainer h4 {
  font-size: 1.25rem;
  letter-spacing: 0.08em;

  text-transform: uppercase;
  font-weight: lighter;
  color: var(--white-primary);
}

.cardContainer p {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.2;
  color: var(--white-secondary);
}

.cardContainer button {
  width: 11em;

  padding: 0.5em 2em;
  background-color: var(--orange-primary);
  border-radius: 5px;
  border: 1px solid #eb6347;
}

@media (min-width: 50em) {
  .cardContainer {
    align-items: flex-start;
  }

  .cardContainer p {
    text-align: left;
  }
}
