.container {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  height: 6.5em;
  padding: 0.65em 0em;

  z-index: 100;
  color: var(--white-secondary);

  background-color: var(--bg-black);

  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.brandLogo {
  display: grid;
  place-items: center;
  position: relative;

  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.brandLogo svg {
  width: 100%;
  height: 100%;
}

.brandLogo svg g {
  fill: var(--gray-primary);
}

.navMenu {
  position: relative;
  display: grid;
  place-content: center;

  width: 100%;
  align-self: center;
}

.navButton {
  position: relative;
  width: 3em;

  height: 1.5em;

  background-color: var(--gray-primary);
  border-radius: 5px;

  cursor: pointer;
  z-index: 150;
}

.navButton svg {
  width: 100%;
  height: 100%;
}

.navList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  width: 100%;
  padding: 1.5em;
  border-radius: 11px;

  transform: translateY(1.9em) !important;

  background-color: var(--bg-black);
  z-index: 100;
}

.navList li {
  font-size: 0.85rem;
  text-align: center;
  padding: 1em 2em;
  cursor: pointer;
}

@media (min-width: 40em) {
  .navButton {
    display: none;
  }

  .navList {
    position: initial;
    flex-direction: row;
    gap: 2.5em;
    background: none;
    padding: 0;
    transform: none !important;
    border: none !important;
    clip-path: none !important;
  }

  .navList li {
    padding: 0.4em 1em;
  }
}
