.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30em;

  gap: 0.75em;
  padding: 1em;
}

.cardContainer h4 {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: lighter;
}

.cardContainer p {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.2;
  color: var(--white-secondary);
}

.cardContainer button {
  width: 11em;
  border-radius: 5px;
  
  background-color: var(--orange-primary);
  padding: 0.5em 2em;
}

@media (min-width: 50em) {
  .cardContainer {
    align-items: flex-start;
  }

  .cardContainer p {
    text-align: left;
  }
}
