.container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--bg-black);

  padding: 6.5em 0 0;
  overflow: hidden;
}

.inner {
  display: grid;
  position: relative;

  height: 100%;
  width: 100%;
  max-width: 1080px;

  padding: 4.5em 1em 3.5em;
  margin: 0 auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
}

.container > img {
  object-fit: cover;
  object-position: bottom;
  height: 125% !important;

  object-position: -25em 0em;
}

.heroOverlay {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  background-color: hsla(0, 0%, 7%, 0.7);
  filter: blur(2px);
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: span 4;

  text-align: center;

  max-width: 25em;
  align-self: start;
}

.heroText h1 {
  line-height: 0.75;
  color: var(--white-primary);
  font-size: 4.5rem;
  font-weight: lighter;
}

.heroText p {
  margin-top: 0.5em !important;
  color: var(--white-secondary);
}

.ctaButton {
  font-size: 0.95rem;
  padding: 0.5em 2em;

  margin-top: 0.5em !important;
  border-radius: 5px;

  background-color: var(--orange-primary);
  box-shadow: 2px 2px 6px #000;
}

.buttons {
  justify-self: center;
  align-self: end;


  grid-column: span 4;
  grid-row: 3 / 4;
}

.buttons ul {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 0.5em;
  margin: 0 auto;

  border-radius: 11px;
}

.buttons ul li {
  width: 3.5em;
  height: 3.5em;
  font-size: 0.9rem;
}

.buttons ul li svg {
  width: 100%;
  height: 100%;
  fill: var(--white-secondary);
}

.slogan {
  width: 100%;
  grid-column: span 4;
  grid-row: 2 / 3;
  align-self: center;
}

.slogan > div > h4 {
  font-size: 0.8rem;
  color: var(--white-secondary) !important;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid var(--orange-primary);
  background-color: hsla(0, 0%, 7%, 0.4);
  backdrop-filter: blur(4px);
}

.slogan > div > h4 > div {
  background-color: var(--orange-borders) !important;
}

.lastJob {
  display: none;
  grid-column: span 2;
  flex-direction: column;
  gap: 0.5em;
  max-width: 14em;
  justify-self: end;
  align-self: start;
}

.lastJob h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--white-primary);
  align-self: flex-end !important;
  width: fit-content !important;
}

.lastJob > div {
  align-self: flex-start !important;
  width: fit-content !important;
}

.lastJob > div h4 {
  color: var(--white-primary) !important;
  padding-right: 0.25rem;
}

.lastJob > div > h4 > div {
  background-color: var(--orange-borders) !important;
}


.lastJob > div > h4 > div:nth-child(1) {
  display: none !important;
}

.lastJob p {
  color: var(--gray-primary);
}

.lastJob p > a {
  color: var(--orange-primary);
  cursor: pointer;
}

@media (min-width: 35em) {
  .container > img {
    object-position: bottom;
  }
  .inner {
    padding-top: 3em;
  }

  .buttons {
    margin-left: auto;
  }

  .buttons ul {
    padding-bottom: 0;
  }

  .heroText {
    align-items: flex-start;
    text-align: left;
  }

  .ctaButton {
    margin: initial;
  }

  .slogan {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    align-self: end;
  }

  .slogan > div {
    place-content: start;
  }

  .slogan > div > h4 > div:nth-child(2) {
    display: none;
  }

  .buttons {
    grid-column: 3 / 5;
  }
}

@media (min-width: 50em) {
  .heroText {
    grid-column: span 2;
  }
  .lastJob {
    display: flex;
  }
}
