.container {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100vh;

  padding: 8em 0.5em 0;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1080px;
  padding-top: 2.5em;
  padding-bottom: 1.5em;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
}

.container > img {
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.75);
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 768px;
  grid-column: span 4;
  justify-self: center;
  align-self: center;
}

.heroText h1 {
  font-size: 3.5rem;
  letter-spacing: 0.02em;
  font-weight: lighter;
}


.heroText p {
  font-size: 0.8rem;
  margin-top: 1em;
  max-width: 20em;
  color: var(--white-secondary);
}

.ctaButton {
  font-size: 1rem;
  padding: 0.5em 2em;
  background: #000;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid #727272;
}

.buttons {
  width: 100%;
  grid-column: span 4;
  grid-row: 3 / 4;
  align-self: end;
}

.buttons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  border-radius: 5px;
  backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.55);
}

.buttons ul li {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.slogan {
  width: 100%;
  grid-column: span 4;
  padding-top: 2em;
}
