.container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--bg-black);

  padding: 6.5em 0 0;
}

.inner {
  display: grid;
  position: relative;

  height: 100%;
  width: 100%;
  max-width: 1080px;

  padding: 3em 1em 0;
  margin: 0 auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
}

.container > img {
  object-fit: cover;
  opacity: 0.9;
}

.heroOverlay {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  background: hsla(0, 0%, 0%, 0.4);

  background-image: linear-gradient(
    to bottom right,
    rgba(12, 12, 12, 0.7) 45%,
    transparent
  );
  backdrop-filter: blur(1px) saturate(150%);
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: span 4;

  text-align: center;

  max-width: 30em;
  align-self: center;
}

.heroText h1 {
  line-height: 0.75;
  color: var(--white-primary);
  font-size: 5rem;
}

.heroText p {
  margin-top: 0.75em;
  max-width: 22em;
  color: var(--white-secondary);
}

.ctaButton {
  padding: 0.5em 2em;

  margin-top: 0.75em;
  border-radius: 5px;

  background-color: var(--orange-primary);
  box-shadow: 2px 2px 6px #000;
}

.buttons {
  justify-self: center;
  align-self: end;

  padding-bottom: 3.5em;

  grid-column: span 4;
  grid-row: 3 / 4;
}

.buttons ul {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 0.5em;
  margin: 0 auto;

  border-radius: 11px;
}

.buttons ul li {
  width: 3em;
  height: 3em;
  font-size: 0.9rem;
}

.buttons ul li svg {
  width: 100%;
  height: 100%;
  fill: var(--white-secondary);
}

.slogan {
  width: 100%;
  grid-column: span 4;
  align-self: center;
}

.slogan > div > h4 {
  color: var(--white-secondary) !important;
}

@media (min-width: 35em) {
  .inner {
    padding-bottom: 0.5em;
  }

  .buttons {
    margin-left: auto;
  }

  .heroText {
    align-items: flex-start;
    text-align: left;
    padding-left: 0.5em;
  }

  .ctaButton {
    margin: initial;
    margin-top: 1em;
  }

  .slogan > div {
    place-content: end;
  }

  .slogan > div > h4 > div:nth-child(2) {
    display: none;
  }
}
