.container {
  position: relative;

  width: 100%;
  min-height: 100%;
  padding-top: 6.5em;

  background-color: #d4d4d4;
}

.container > img {
  object-fit: cover;
}

.inner {
  position: relative;
  display: grid;
  gap: 3em;

  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  padding: 3em 1em;
}

.inner .eventsCards {
  width: 100%;
  display: grid;
  justify-items: center;

  gap: 1em;
  border-radius: 11px;
}

.eventsCards > div:nth-child(1) {
  margin-bottom: 0.75em;
}

.eventsForm {
  position: relative;

  width: 100%;
  margin-top: 0.5em;
}

.eventsForm > div {
  margin: 0 auto;
}


.eventsText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.eventsText h1 {
  font-size: 4.5rem;
  color: #202020;
}

.eventsText p {
  max-width: 35em;
  color: #242424;
}

@media (min-width: 50em) {
  .eventsCards {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .eventsCards > div:nth-child(1) {
    grid-column: span 2;
  }
}
