.container {
  width: 100%;
}

.inner {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  overflow: hidden;
}

.inner .expertiseCards {
  width: 100%;
  display: grid;
  grid-template-rows: 25em 25em;

  padding: 0 0;
  gap: 2px;
}



@media (min-width: 50em) {
  .expertiseCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh !important;
  }

  .expertiseCard {
    grid-column: span 1;
  }
}
