.formContainer {
  padding: 1em 0;
  max-width: 30em;
  border-radius: 11px;
}

.formContainer p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--black-secondary);
}

.formContainer form {
  background-color: #1f1f1f !important;

  padding: 1em;
  border-radius: 10px;
  width: 100%;
  display: flex;
  border: 2px solid var(--orange-borders);
  gap: 0.25em;
  box-shadow: 2px 2px 8px #000;
}

.formContainer form input {
  font-size: 0.8rem;

  width: 100%;
  padding: 0.5em;
  border: 1px solid #727272;
  border-radius: 5px;
  background: none;
  color: var(--white-secondary);
  outline: none;
}

.formContainer form button {
  font-size: 0.8rem;
  background-color: var(--orange-primary);
  align-self: stretch;
  padding: 0.3em 1em;
  color: var(--white-primary);
  border-radius: 5px;
}

@media (min-width: 50em) {
  .formContainer {
    max-width: 35em;
  }
}
