.container {
  position: relative;

  width: 100%;
  padding-top: 6.5em;
}

.inner {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  color: var(--black-secondary);

  padding: 3em 1em;
}

.inner h1 {
  font-size: 3rem;
  text-align: center;
}

.inner .cart {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 2.5em;
}

.cartHeader ul {
  display: none;
  padding: 0.5rem 0rem;

  grid-template-columns: 1fr auto 5rem 5rem 5rem;
}

.cartHeader ul > li:nth-child(1) {
  grid-column: span 2;
}

.cartHeader ul li {
  font-size: 0.9rem;
}

.cartHeader ul li:first-child {
  padding-left: 0.5em;
}

.cartHeader > div {
  padding: 0.5rem 0rem;
  text-transform: uppercase;
}

.cartHeader > div > h4 {
  font-size: 0.9rem !important;
}

.cartBody {
  width: 100%;
  padding: 1em 0;
}

.cartItems {
  display: flex;
  flex-direction: column;
}

.cartFooter {
  display: flex;
  text-align: center;

  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.emptyCart {
  margin-top: 3em;
}

.emptyCart > div:nth-child(1) h4 {
  color: var(--black-secondary) !important;
}

.emptyCart > div:nth-child(2) {
  font-size: 0.85rem;
  text-align: center;
  width: 14em;
  background-color: var(--orange-primary);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  color: var(--white-primary);
  box-shadow: 2px 2px 8px #000;
  border: 1px solid var(--orange-borders) !important;
}

.checkout {
  text-align: center;
  padding: 1em;

  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 2em;
  background-color: #1f1f1f;
  border-radius: 11px;
  box-shadow: 2px 2px 8px #000;
}

.checkout h4 {
  font-size: 1.25rem;
  color: var(--white-primary);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 0.8;
}

.checkout p {
  font-size: 0.8rem;
  margin-top: 0.25rem;

  color: var(--gray-primary);
}

.checkout button {
  margin-top: 0.5rem;
  padding: 0.5em 2em;
  background-color: var(--orange-primary);
  border: 1px solid var(--orange-borders);
  border-radius: 5px;
}

@media (min-width: 40em) {
  .cartHeader {
    border-bottom: 1px solid hsla(0, 0%, 45%, 0.5);
  }

  .cartHeader > ul {
    display: grid;
    color: #727272;
  }

  .cartHeader > div {
    display: none;
  }

  .cartHeader ul li:nth-child(2),
  .cartHeader ul li:nth-child(3),
  .cartHeader ul li:nth-child(4) {
    justify-self: center;
  }

  .cartFooter {
    justify-content: flex-end !important;
    gap: 1.5em;
  }

  .cartFooter > div:nth-child(2) {
    width: 5.25rem;
  }
}
