.container {
  position: relative;

  width: 100%;
  padding-top: 6.5em;

  background-color: #d4d4d4;
}

.inner {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  color: #242424;

  padding: 3em 1em;
}

.inner h1 {
  color: #202020;
  font-size: 3rem;
  text-align: center;
}

.inner .cart {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 2.5em;
}

.cartHeader ul {
  display: none;
  padding: 0.5rem 0rem;

  grid-template-columns: 1fr auto 5.25rem 5.25rem 5.25rem;
}

.cartHeader ul > li:nth-child(1) {
  grid-column: span 2;
}

.cartHeader ul li {
  font-size: 0.9rem;
}

.cartHeader > div {
  padding: 0.5rem 0rem;
  text-transform: uppercase;
}

.cartHeader > div > h4 {
  font-size: 1rem !important;
}

.cartBody {
  width: 100%;
  padding: 1em 0;
}

.cartItems {
  display: flex;
  flex-direction: column;
}

/* .cartItem {
  display: grid;
  justify-content: center;
  grid-template-columns: 10em auto;
  grid-template-rows: 1fr;

  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 45%, 0.5);
}

.cartItem > .itemImage {
  position: relative;
  height: 9em;
}

.itemImage > img {
  object-fit: contain;
  object-position: left;
  filter: drop-shadow(2px 2px 1px #000);
  padding: 1em;
}

.itemDetails {
  width: 100%;
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 0.25em;
}

.itemInfo h4 {
  font-size: 0.95rem;
  text-transform: uppercase;
  font-style: italic;
}

.itemInfo p {
  font-size: 0.8rem;
  padding-top: 0.15em;
}

.itemQuantity {
  display: flex;
  gap: 5.5rem;
}

.itemQuantity > select {
  font-size: 0.8rem;
  padding: 0.05em 0.3em;
  color: #242424;
  background-color: #d4d4d4;
  border-radius: 5px;
  border: 1px solid #727272;
  outline: none;
  cursor: pointer;
}

.itemQuantity > select > option {
  background-color: #d4d4d4;
}

.itemQuantity > button {
  color: var(--orange-primary);
  text-decoration: underline;
  padding: 0;
}

.itemPrice {
  font-size: 0.8rem;
}

.itemTotal {
  font-size: 0.8rem;
} */

.cartFooter {
  display: flex;
  text-align: center;

  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.checkout {
  text-align: center;
  padding: 1em;

  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 2em;
  background-color: #1f1f1f;
  border-radius: 11px;
  box-shadow: 2px 2px 8px #000;
}

.checkout h4 {
  font-size: 1.25rem;
  color: var(--white-primary);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 0.8;
}

.checkout p {
  font-size: 0.8rem;
  margin-top: 0.25rem;

  color: var(--white-secondary);
}

.checkout button {
  margin-top: 0.25rem;
  padding: 0.5em 1em;
  background-color: var(--orange-primary);
  border-radius: 5px;
}

@media (min-width: 37.5em) {
  .cartHeader {
    border-bottom: 1px solid hsla(0, 0%, 45%, 0.5);
  }

  .cartHeader > ul {
    display: grid;
    color: #727272;
  }

  .cartHeader > div {
    display: none;
  }

  .cartHeader ul li:nth-child(2),
  .cartHeader ul li:nth-child(3),
  .cartHeader ul li:nth-child(4) {
    justify-self: center;
  }

  /* .cartItem {
    justify-content: stretch !important;
    grid-template-columns: 10em 1fr !important;
  }

  .itemDetails {
    grid-template-columns: 1fr 5.25rem 5.25rem 5.25rem;
    justify-items: center !important;
    align-items: baseline;
    padding-left: 0;
    gap: 0;
  }

  .itemInfo {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .itemQuantity {
    grid-column: 2 / 3;
    flex-direction: column;
    align-items: center !important;

    gap: 0.25em;
  }

  .itemPrice {
    grid-column: 3 / 4;
  }

  .itemTotal {
    grid-column: 4 / 5;
  } */

  .cartFooter {
    justify-content: flex-end !important;
    gap: 1.5em;
  }

  .cartFooter > div:nth-child(2) {
    width: 5.25rem;
  }
}
