.container {
  width: 100%;
  height: 4.5em;
  background-color: var(--bg-black);

  height: 5em;
  position: absolute;
  bottom: 0;
}

.inner {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 1080px;

  margin: 0 auto;

}

.container .inner div {
  font-size: 0.7rem;
  position: relative;

  color: var(--white-secondary);
  margin: 0 auto;
  
  text-align: center;
  cursor: default;
}
