.container {
  width: 100%;
  padding: 3em 1em;
  background-color: var(--bg-gray);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1180px;
  gap: 1.75em;
  margin: 0 auto;
}


.inner .newsletter {
  width: 100%;
  max-width: 35em;
  border-radius: 11px;
}

.inner .newsletter > div {
  font-size: 1.25rem;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--black-secondary)
}

.inner .newsletter form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.25em;
  margin-top: 0.25em;
  background-color: #1f1f1f;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #000;
  border: 2px solid var(--orange-borders);
}

.inner .newsletter form input {
  font-size: 0.85rem;
  width: 100%;
  padding: 0.5em;

  color: var(--white-primary);
  background: none;
  border: 1px solid var(--gray-input-borders);
  border-radius: 5px;

  outline: none;
}

.inner .newsletter form button {
  align-self: stretch;

  padding: 0.5em 1.25em;
  background-color: var(--orange-primary);
  border-radius: 5px;
}

.inner .socials {
  gap: 1em;

  width: 100%;
  max-width: 35em;
  padding: 0 0.5em;
}

.inner .socials > div {
  text-align: center;
  font-size: 1.25rem;

  color: var(--white-secondary);
  color: var(--black-secondary);
}

.inner .socials .socialsList {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  align-self: center;

  width: fit-content;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 0.5em;
}

.inner .socials .socialsList li {
  display: grid;
  place-items: center;

  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.inner .socials .socialsList li svg {
  width: 3em;
  height: 3em;
  fill: var(--orange-primary);
  border-radius: 50%;
}
