.container {
  position: relative;

  width: 100%;
  min-height: 100%;
  padding-top: 6.5em;

  background-color: #d4d4d4;
}

.inner {
  position: relative;
  display: grid;
  gap: 2.5em;

  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  padding: 3em 1em;
}

.storeText h1 {
  font-size: 4.5rem;
  text-align: center;
  color: #202020;
}

.storeNav {
  position: relative;
  width: 100%;
  padding: 0.5em 2em !important;
}

.storeNav ul {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 25em;
  margin: 0 auto;

  color: #242424;
}

.storeNav ul li {
  font-size: 0.95rem;
  padding: 0.5rem;

  cursor: pointer;
}

.storeCards {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1.25em;

  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}



@media (min-width: 490px) {
  .storeCards {
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
    padding: 0 1.5em;
  }

}
