.legendContainer {
    width: 100%;
    display: grid;
    overflow-x: visible;
    place-content: center;
}


.legendContainer h4 {
    font-size: 0.9rem;
    text-align: center;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: lighter;
    font-style: italic;

}

