.container {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;

  padding: 3.5em 0;
  background-color: #d4d4d4;
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  gap: 1.5em;
}

.servicesCards {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.serviceCard {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: #000;
  max-width: 23em;
  text-align: left;
  position: relative;

  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 5px;
  gap: 0.5em;

  /* box-shadow: 2px 2px 12px #000; */
}

.serviceCard h2 {
  font-size: 3.5rem;
  /* letter-spacing: 0.04em; */
}

.serviceCard p {
  /* max-width: 22em; */
  font-size: 0.8rem;
}

.sponsors {
  padding: 0.5em;
  width: 100%;
  margin: 0 auto;
  border-radius: 11px;
  /* border: 2px solid hsla(0, 0%, 13%, 0.4); */
}

.sponsors p {
  background-color: hsla(0, 0%, 13%, 0.8);
  border-radius: 5px;

  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

.sponsors ul {
  display: flex;
  position: relative;
  gap: 1em;
  justify-content: center;
}

.sponsors ul li {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  /* background-color: gray; */
}

.sponsors ul li svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 45em) {
  .servicesCards {
    flex-direction: row;
  }
}
