.container {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    max-width: 35em;

    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--orange-borders);
    border-bottom: none;
  
    box-shadow: 2px 2px 8px #000;
    cursor: pointer;
  }
  
  .storeCardImage {
    position: relative;
    height: 9em;
    overflow: hidden;
    background-color: var(--bg-black);
  }
  
  .storeCardImage img {
    object-fit: cover;
    opacity: 0.9;
  }
  
  .storeCardFooter {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  
    width: 100%;
    padding: 0.75em 1em;
    background-color: var(--bg-black);
    position: relative;
  }
  
  .storeCardFooter > h4 {
    line-height: 0.7;
    font-weight: lighter;
    color: var(--white-primary);
    cursor: pointer;
  }
  
  .storeCardFooter > div > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    width: 0.75em;
    height: 0.75em;
    fill: var(--orange-primary);
    stroke: var(--orange-primary);
  }
  